h1 {
    font-size: 120;
    text-align: center;
    background-color: black;
    color: bisque;
}

img {
    height: 200px;
    width: auto;
}

h2 {
    background-color: antiquewhite;
    color: rgb(14, 4, 39);
}

.intro {
    font-weight: bolder;
}